<launch>

  <arg name="model" default="$(find robot_description)/urdf/truber_p1.urdf.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher">
  	<param name="rate" value="30"/>
  </node>
  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" value="30.0" />
  </node>
  
  <node name="rviz" pkg="rviz" type="rviz" />

</launch>
